@import url(../components/fontconf.css);
@import url(../components/setup.css);



.screen {
	position: relative;
	height: 100vh;
	overflow-x: hidden;
	display: grid;
	grid-template-rows: 8vh 32vh 15vh 45vh ;
	grid-template-columns: 1fr;
	background-color: var(--mantle);
}

.menu {
	background-color: var(--base);
	display: flex;
	flex-flow: row norwap;
	justify-content: space-around;
	align-items: center;
}

.redButton {
	background-color: var(--peach);
}

.yellowButton {
	background-color: var(--green);
}

.greenButton {
	background-color: var(--yellow);

}


.input, .output {
	font-family: "DM Mono";
}

.input {
	padding: 24px;
	color: var(--surface);
	background-color: var(--base);
}

.output {
	padding: 24px;
	color: var(--text);
	background-color: var(--mantle);
}

.materi {
	overflow-y: scroll;
	font-family: "DM Sans";
	font-weight: 400;
	color: var(--base);
	padding: 24px;
	text-align: justify;
	border-radius: 32px 32px 0px 0px;
	box-shadow: 0px 0px 24px rgba(0, 0, 0, .7);
	background-color: var(--yellow);
}

.end {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	font-family: "Silkscreen";
	color: var(--base);
	text-align: center;
}