@import url(../components/fontconf.css);
@import url(../components/setup.css);

nav {
	background-color: rgba(205, 214, 244, .8);
	backdrop-filter: blur(16px);
	width: 100vw;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	font-family: "DM Sans";
	font-size: 24px;
	position: fixed;
	top: 0;
	overflow-x: hidden;
	color: var(--base);
	z-index: 5;
}

nav > img {
	padding: 16px;
	height: 48px;
}

header {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
	height: 90vh;
	width: 100vw;
	background-color: var(--text);
	font-family: "Silkscreen";
	color: var(--base);
}


header > div > div {
	margin-top: 1.6rem;
}

footer {
	height: 60vh;
	width: 100vw;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: space-evenly;
	background-color: var(--base);
	color: var(--yellow);
	font-family: "Silkscreen";
	text-align: center;
}

footer > * {
	padding-top: 12px;
}

.footerLogo {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
	font-size: 12px;
	font-family: "DM Sans";
}

.footerLogo > img {
	height: 64px;
	padding: 0px 12px;
}

.footerSocial {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}

.footerSocial > li > a > img {
	height: 24px;
	padding: 0px 8px;
}


.screenHeight {
	position: relative;
	height: 100vh;
	width: 100vw;
}

.courses {
	background-size: 20px 20px;
	background-image: 
		linear-gradient(to right, lightgray 1px, transparent 1px),
		linear-gradient(to bottom, lightgray 1px, transparent 1px);

	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}


.courseTopic > * {
	display: inline-block;
}

.coursesContainer {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}




.joinus {
	color: var(--base);
	background-color: var(--yellow);
	background-size: 20px 20px;
	background-image: 
		linear-gradient(to right, white 1px, transparent 1px),
		linear-gradient(to bottom, white 1px, transparent 1px);
	font-family: "DM Mono";
}

.joinus > div > div {
	margin-top: 1.6rem;
}

.joinus > div > div > .pixelBorders {
	background-color: var(--green);
}

.joinus > div > h1 {
	font-size: 36px;
}

.joinus > div > h2 {
	font-size: 22px;
}

/* Programs Section */




.programs {
	background-color: var(--base);
	overflow-x: hidden;
}


.programsList::-webkit-scrollbar {
	display: none;
}

.programsList {
	place-self: center;
	justify-content: flex-start;
	align-items: self-end;
	overflow-x: scroll;
	position: relative;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 1.6rem;
	padding: 2rem;
}

.programsList > div {
	display: grid;
	grid-template-rows: 8rem 1fr;
	background-color: var(--yellow);
	height: 450px;
	width: 300px;
	margin: 0px 10px;grid-template-columns: 1fr;
}


.programsList > div > img {
	height: 48px;
	place-self: center;
}

.programsDesc > p{
	text-align: justify;
	font-family: "DM Sans";
	font-weight: 600;
}


/* about section */

.about {
	font-family: "DM Mono";
	font-weight: 100;
	display: flex;
	flex-flow: column; nowrap;
	justify-content: center;
	align-items: center;
	background-color: var(--base);
	color: var(--white);
}

.about > div {
	padding: 1.6rem;
}

.about > div > h1, .about > div > h2 {
	font-family: "DM Sans";

}


.about > div > h1 {
	font-size: 54px;
}
.about > .kesimpulan {
	text-align: center;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
}

.about > .kesimpulan > p {
	font-family: "DM Mono";
	font-style: italic;
}

.about > h1, .about > h2 {
	font-family: "DM Sans";
}






