* {
	font-family: "BlexMono NF";
	font-weight: bold;
	 }

h1, p, html, body {
	margin: 0px;
	padding: 0px;

}



body {
	font-size: 24px;
	overflow-x: hidden;
}

p {
	font-size: 10px;
}

section {
	background-color: #1e1e2e;
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

div {
	margin-bottom: 30px;
	width: 300px;
}

/* #1e1e2eff
 * #92939eff
 * */


.pixelShadows {
	border-top: 5px solid #92939e;
	border-left: 5px solid #92939e;
}


.pixelBorders {
	background-color: white;
	padding: 0px 0px;
	box-shadow: 
		/* black border*/
		5px 0px #1e1e2e,
		-5px 0px #1e1e2e,
		
		0px 5px #1e1e2e,
		0px 5px #1e1e2e,
		
		0px -5px #1e1e2e,
		0px -5px #1e1e2e,

		10px 0px white,
		-10px 0px white,
		0px 10px white,
		0px -10px white,

		
		10px 5px white,
		10px -5px white,
		-10px 5px white,
		-10px -5px white,
		-5px 10px white,
		5px -10px white,
		-5px -10px white,
		5px 10px white
		;

	}

.centerText {
	text-align: center;
} 

input:hover {
	outline: none;
}

input[type=text], 
input[type=email], 
input[type=password] {
	width: 95%;
	outline: none;
	border: none;
	border-bottom: 5px solid #1e1e2e;
	margin-top: 10px;
	font-size: 16px;
}

input[type=submit] {
	margin-top: 10px;
	padding: 5px 10px;
	background-color:#f9e2af ;
}

form {
padding: 20px;
}

label {
	display: block;
	margin-top: 10px;
}

.centerItem {
	margin: 12px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}



