.clouds > * {
	z-index: 1;
	position: absolute;
	height: 200px;
	animation-name: moveCloud;
	animation-duration: 200s;
	animation-delay: 0s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.clouds > img:nth-child(1) {
	transform: translate(-223px, 445px);
}

.clouds > img:nth-child(2) {
	transform: translate(230px, 120px);
}
.clouds > img:nth-child(3) {
	transform: translate(934px, 144px);
}
.clouds > img:nth-child(4) {
	transform: translate(623px, 334px);
}
.clouds > img:nth-child(5) {
	transform: translate(1082px, 524px);
}



@keyframes moveCloud {
	0% {padding-left: 100vw ;} 
	100% { padding-left: -100%; }
}
