.cardContainer {
	padding: 10px 40px;
	display: grid;
	grid-template-columns: repeat(6,1fr);
	overflow-x: scroll;
	gap: 20px;
}

.cardContainer::-webkit-scrollbar {
	display: none;
}


.cardContainer > * {
	height: 300px;
	width: 350px;
	background-color: var(--white);
	border-radius: 12px;
	overflow: hidden;
	box-shadow: 0px 0px 15px lightgray;	
}

.cardContainer > li > img {
	width: 350px;
}


.cardHeader {

}

.cardDescription {

}
