 @import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@500&family=DM+Sans:wght@400;600;800;1000&family=DM+Serif+Text&family=Silkscreen&display=swap');

@font-face {
	font-family: "DM Serif", serif;
	src: url("../../../assets/DMSerifDisplay-Regular.ttf") format(ttf);
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: "DM Sans", sans-serif;
	src: url("../../../assets/DMSans.ttf");
}

@font-face {
	font-family: "Inconsolata", monospace ;
	src: url("../../../assets/Inconsolata.ttf") format('ttf');
	font-weight: 800;
}

@font-face {
	font-family: "Silkscreen", sans-serif; 
	src: url("../../../assets/slkscr.ttf") format('ttf');
	font-style: unset;
	font-weight: 100;
}

