@import url('../components/setup.css');
@import url('../components/navbar.css');
@import url('../components/fontconf.css');
@import url('../components/cards.css');
@import url('../components/animateClouds.css');

nav {
	font-family: "Inconsolata";
}

header {
	height: 90vh;
	width: 100vw;
	background-color: var(--text);
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

.courses {
	height: 100vh;
	width: 100vw;
	background-color: var(--white);
}


/* other method: doing it manualy*/
.ditherTransition {
	width: 100vw;
}


.greet {
	z-index: 3;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

.greet > * {
	font-size: 54px;
	text-align: center;
	font-family: "Inconsolata";
}

.greet > h2 {
	font-size: 32px;
}

.greet > h1 {
	font-size: 54px;
} 

.greet > .pixelBorders {
	font-size: 23px;
	padding: 2px 10px;
	margin: 20px 0 0 0;
}

.startButton {
	display: flex;
	font-family: "Inconsolata", monospace;
	font-weight: 800;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
	font-size: 23px;
	background-color: var(--white);
	height: 40px;
	width: 100px;
}






