.navbar-menu {
	display: flex;
	flex-flow: row nowrap;

}

.navbar-menu > li {
	color: var(--white);
	padding: 0 10px;
}

.navbar {
	background-color: var(--shade-4);
	position: sticky;
	top: 0;
	height: 56px;
	width: 100vw;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
}

.logo {
	color: var(--shade-1);
	font-family: "OCR-A";
}

.daftar {
	padding: 6px 10px;
	border: var(--shade-5) 1px solid;
	border-radius: 4px;
	color:var(--shade-4);
	background-color: var(--shade-5);
}
